/* Fond du site - Ton bleu clair d'origine */
body {
  background-color: rgb(205, 232, 231);
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Ligne de séparation */
hr {
  height: 5px;
  background-color: rgb(67, 64, 126);
  border: none;
  position: relative;
}

/* voir ou est probleme pour reponsive */
@media (max-width: 420px) {
  body {
    background-color: red;
  }
}
