/* Fond du site - Ton bleu clair d'origine */
body {
  background-color: rgb(79, 78, 78);
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Ligne de séparation */
hr {
  height: 5px;
  background-color: rgb(62, 62, 62);
  border: none;
  position: relative;
}

/* voir ou est probleme pour reponsive */
@media (max-width: 420px) {
  body {
    background-color: red;
  }
}

