* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
.ton-conteneur {
    /* Fond noir avec 50% d'opacité (0.5) */
    background-color: rgba(0, 0, 0, 0.5); 
}
body {
    /* Chemin vers ton image (depuis le dossier CSS, il faut remonter d'un cran avec ../) */
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../image/panorama-lac-dallos-montagne-c-florianscala-1280x645-1734687992.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255 , 0); /* Pour s'assurer que le texte par défaut est blanc */
     display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container {
  position: relative;
  width: 480px;
  height: 550px;
  background: #1f2933;
  border-radius: 12px;
  overflow: hidden;
}

/* Animation border */
.container::before {
  content: "";
  position: absolute;
  inset: -50%;
  background: linear-gradient(
    90deg,
    transparent,
    #3b82f6,
    #008000,
    #ffa500,
    transparent
  );
  animation: animate 7s linear infinite;
}

.container::after {
  content: "";
  position: absolute;
  inset: -50%;
  background: linear-gradient(
    90deg,
    transparent,
    red,
    #60fa7a,
    #f63b9c,
    transparent
  );
  animation: animate 7s linear infinite;
  animation-delay: -3.5s;
}

@keyframes animate {
  100% {
    transform: rotate(360deg);
  }
}

.container img {
  position: relative;
  z-index: 20;
  display: block;
  margin: 20px auto 0;
}

/* page de connexion */
.form {
  position: absolute;
  inset: 4px;
  background: #ffffff;
  border-radius: 10px;
  z-index: 10;
  padding: 45px 40px;
  display: flex;
  flex-direction: column;
}

.form h2 {
  text-align: center;
  letter-spacing: 0.1em;
  color: #1f2933;
}

.inputBox {
  position: relative;
  width: 100%;
  margin-top: 30px;
}

.inputBox input {
  width: 100%;
  padding: 18px 10px 8px;
  background: transparent;
  border: none;
  border-bottom: 2px solid #cbd5e1;
  font-size: 1em;
  outline: none;
  color: #1f2933;
}

input[type="submit"] {
  border: none;
  background: #2563eb;
  color: #ffffff;
  cursor: pointer;
  margin-top: 30px;
  padding: 12px;
  border-radius: 6px;
  font-weight: 500;
  transition: background 0.3s ease;
}

input[type="submit"]:hover {
  background: #1e40af;
}
.logo {
  width: 200px;
  margin-bottom: 5px;
  filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.2));
}

/* Style pour les boutons de la page de choix de role */
.btn-choix {
  display: block;
  width: 100%;
  padding: 12px;
  background: #2563eb;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  border-radius: 6px;
  font-weight: 500;
  transition: 0.3s ease;
}

.btn-choix:hover {
  background: #1e40af;
  transform: scale(1.02);
}

.form h2 {
  margin-bottom: 10px;
  color: #1f2933;
}
