/* barre de navigation bouton*/
.boutons {
  text-align: center;
  padding: 20px 0;
}

.boutons a {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  text-decoration: none;
  color: white;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

/* Animation au survol */
.boutons a:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: translateY(-2px); /* Le bouton monte légèrement */
}
