/*barre de recherche */
.recherche {
  background: url(/image/image_de_recherche.avif) center/cover;
  height: 250px;
  position: relative;
  width: 80%;
  left: 10%;
}

/* Placement du formulaire au milieu de l'image */
form {
  position: relative;
  text-align: center;
  top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* Style des petits boutons "Rechercher" */
.bouton-recherche {
  background: rgba(0, 0, 0, 0.3);
  border: 3px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
  position: relative;
  right: 15px;
}

#secteur {
  background: rgba(254, 254, 254, 0.7);
  border: 3px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin-right: 5px;
  width: 300px;
  height: 35px;
}

#zone {
  background: rgba(246, 246, 246, 0.7);
  border: 3px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin-right: 5px;
  height: 35px;
}

input::placeholder {
  color: rgb(0, 0, 0);
  position: relative;
  left: 30px;
}
