.bouton-recherche {
  background: rgba(255, 255, 255, 0.6);
  border: 3px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
  position: relative;
  right: 15px;
}

#secteur {
  background: rgba(254, 254, 254, 0.7);
  border: 3px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin-right: 5px;
  width: 300px;
  height: 35px;
}

#zone {
  background: rgba(254, 254, 254, 0.7);
  border: 3px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin-right: 5px;
  height: 35px;
}

input::placeholder {
  color: rgb(0, 0, 0);
}

form {
  position: relative;
  text-align: center;
  top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.recherche {
  background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
  height: 150px;
}

/* partie photo offres (bien sur on remplacera avec des vrai offres) */

.offres-principale img {
  width: 300px;
  margin-bottom: 20px;
}

.offres-principale {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 200px;
}

.contenu {
  width: 80%;
  margin: auto;
  display: flex;
  padding-top: 50px;
}

.charger-plus {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  background: rgba(255, 255, 255, 0.6);
  border: 3px solid rgba(0, 0, 0, 0.4);
  border-radius: 8px;
}

.charger-plus:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: translateY(-2px);
}

label {
  color: black;
}

.titre_offre_stage {
  font-size: 40px;
  -webkit-text-stroke-width: 1px; /* pour couleur contour texte */
  -webkit-text-stroke-color: rgb(40, 184, 237);
}
