/*fond du site*/
body {
  width: auto;
  background-color: rgb(205, 232, 231);
  margin: 0;
}

/* ligne de séparation */
hr {
  height: 5px;
  background-color: rgb(67, 64, 126);
  border: none; /* Supprime la bordure par défaut du navigateur */
  position: relative;
}
