/*fond du site*/
body {
  background-color: rgb(205, 232, 231);
  margin: 0;
}

/* ligne de séparation */
hr {
  height: 5px;
  background-color: rgb(67, 64, 126);
  border: none;
  position: relative;
}

/* Style du pied de page */
footer {
  width: 100%;
  margin-top: 50px;
}

.footer-links {
  display: flex; /* les liens à cote */
  gap: 20px; /* Crée un espace entre les deux textes */
}

.footer-links a {
  color: #4b628a; /* Une couleur proche de ton thème */
  text-decoration: none;
  font-size: 14px;
  font-family: Arial, sans-serif;
}

.footer-links a:hover {
  text-decoration: underline; /* Le lien se souligne quand on passe la souris dessus */
}
