/*fond du site*/
body {
  width: auto;
  background: linear-gradient(to right, #2f2e2e, grey);
  margin: 0;
}

/* ligne de séparation */
hr {
  height: 5px;
  background-color: rgb(67, 64, 126);
  border: none; /* Supprime la bordure par défaut du navigateur */
  position: relative;
}
