{% extends 'base.html.twig' %}

{% block title %}Ma Candidature-
{% endblock %}

{% block content %}
	<div style="background: white; color: black; padding: 10px; border-radius: 8px; margin-top: 10px; text-align: left;">
		<p style="font-weight: bold; margin-bottom: 5px;">Donner une note :</p>

		<form action="{{ url_for('laisser-avis', {id: stage.id}) }}" method="post">
			<select name="note" class="form-select form-select-sm mb-2">
				<option value="5">⭐⭐⭐⭐⭐</option>
				<option value="4">⭐⭐⭐⭐</option>
				<option value="3">⭐⭐⭐</option>
				<option value="2">⭐⭐</option>
				<option value="1">⭐</option>
			</select>

			<input type="text" name="commentaire" class="form-control form-control-sm mb-2" placeholder="Votre avis..." required>

			<button type="submit" class="btn btn-primary btn-sm w-100">Envoyer</button>
		</form>
	</div>

{% endblock %}
