{% extends 'base.html.twig' %}

{% block title %}Ma Candidature-
{% endblock %}

{% block content %}
	<div class="d-flex justify-content-center">
		<div class="bg-light w-50 p-3 rounded mt-3 text-start">
			<p class="text-dark fw-bold">Donner une note :</p>

			<form action="{{ url_for('avis', {id: entrepriseId}) }}" method="post">
				<select name="note" class="form-select form-select-sm mb-2 h-75">
					<option value="5">⭐⭐⭐⭐⭐</option>
					<option value="4">⭐⭐⭐⭐</option>
					<option value="3">⭐⭐⭐</option>
					<option value="2">⭐⭐</option>
					<option value="1">⭐</option>
				</select>

				<label for="Description">Message</label>
				<textarea class="form-control" name="commentaire" id="textarea" rows="5" placeholder="Message"></textarea>

				<button type="submit" class="btn btn-primary btn-sm w-100 mt-3">Envoyer</button>
			</form>
		</div>
	</div>

{% endblock %}
