{% extends 'base.html.twig' %}

{% block title %}Entreprise-
{% endblock %}

{% block content %}
	<style>

		h2 {
			-webkit-text-stroke-width: 2px;
			-webkit-text-stroke-color: rgb(26, 189, 230);
		}
		.offre-card {
			background: rgba(255, 255, 255, 0.15);
			backdrop-filter: blur(10px);
			border: 1px solid rgba(255, 255, 255, 0.3);
			border-radius: 15px;
		}
	</style>
</head>


<main class="container py-5 text-center">
	<h2 class="text-center fw-bold mb-5 py-3">
		Trouver l'entreprise parfaite à vos besoins !
	</h2>

	<div class="row g-4 justify-content-center">
		{% for entreprise in entreprises %}
			<div class="col-md-4">
				<div class="offre-card p-4 text-white">
					<div class="fw-bold fs-5 mb-2">{{ entreprise.nom }}</div>
					<div class="mb-2">{{ entreprise.domaine }}</div>
					<div>📍
						{{ entreprise.lieu }}</div>
					<div>✉️
						{{ entreprise.email }}</div>
					<a href="/postule" class="btn btn-primary mt-2">Postule</a>
				</div>
			</div>
		{% endfor %}
	</div>
</main>{% endblock %}
